@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Signifier";
    src: url("/fonts/Signifier-Regular.otf");
    font-weight: normal;
  }

  @font-face {
    font-family: "Signifier";
    src: url("/fonts/Signifier-Bold.otf");
    font-weight: 600;
  }

  @font-face {
    font-family: "Sohne";
    src: url("/fonts/Sohne-Regular.otf");
    font-weight: normal;
  }

  @font-face {
    font-family: "Sohne";
    src: url("/fonts/Sohne-Light.otf");
    font-weight: 300;
  }

  @font-face {
    font-family: "Sohne";
    src: url("/fonts/Sohne-Bold.otf");
    font-weight: 600;
  }
}

html,
body {
  background-color: #fff;
  font-optical-sizing: auto;
  color: #090b0a;
  margin: 0 auto;
}

body {
  position: relative;
  height: 100vh;
  padding-inline: 24px;
  width: 80%;
}

@media (max-width: 1024px) {
  html,
  body {
    width: 90%;
  }
}

@media (max-width: 640px) {
  html,
  body {
    width: 90%;
    font-size: 14px;
  }
}
